@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@this.Html.Editor("firstName")


<partial name="_HomePageStart" />


@section Links
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://google.com">Google</a>
    </li>
}


<p>Use this page to detail your site's privacy policy.</p>